<div class="main-content">
    <div class="section-content section-content-p30">
    <div class="container-fluid">
      
    <div class="center"> <p> withdraw</p></div>
     
    <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">AccountNumber</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='params.accNo'>
    </div>
           
   
   
   
    &nbsp; 
  <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Amount to be withdrawn</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='params.amount'>
        </div>
                
   
 
                 
   
    &nbsp;   
    <div style="text-align:center">
        <button  class="btn btn-primary btn-sm"type="button" (click)="Withdraw()">Submit</button>
    </div> 
    
    
    </div>
    </div>
    </div>
    
   
    
            
    
    
    
    
    
    


