<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
      <a class="navbar-brand" >
        <i class="fa fa-university" aria-hidden="true"></i>
        ICIN
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto text-white">
          <li class="nav-item  ml-2"  >
            <a class="nav-link" routerLink="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
         
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Primary-Account
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="add-primary">Create Primary-Account</a></li>
                  <li><a class="dropdown-item" href="deposit-primary">Deposit</a></li>
                  <li><a class="dropdown-item" href="withdraw-primary">Withdraw</a></li>
                  <li><a class="dropdown-item" href="transfer">Transfer</a></li>
                  <li><a class="dropdown-item" href="search-transactions"> Search Transactions</a></li>
                  <li><a class="dropdown-item" href="cheque-book-primary">Create cheque-book</a></li>
                  <li><a class="dropdown-item" href="search-primary-account">Search account details</a></li>
                  
                </ul>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Saving-Account
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="add-saving">Create Saving-Account</a></li>
                  <li><a class="dropdown-item" href="deposit-saving">Deposit</a></li>
                  <li><a class="dropdown-item" href="withdraw-saving">Withdraw</a></li>
                   <li><a class="dropdown-item" href="search-saving-account">Search account deatails</a></li>
                  
                </ul>
              </li>
            </ul>
          </div>
      
        
      
          <li class="nav-item" >
            <a class="nav-link  ml-2"  href="login" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log out 
            </a>
          
          </li>
    
      </ul>
        
      </div>
    </div>

   


      

      

    

     
    
  </nav>
