<div class="main-content">
    <div class="section-content section-content-p30">
    <div class="container-fluid">
      
    <div class="center"> <p> add cheque-book</p></div>
     
    <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Accepted</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='chequeBook.accepted'>
    </div>
           
    
    &nbsp;
    
  
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">PrimaryAccountId</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='chequeBook.primaryAccount!.id'>
        </div>
                
   
 {{chequeBook.primaryAccount!.id}}
                 
   
    &nbsp;   
    <div style="text-align:center">
        <button  class="btn btn-primary btn-sm"type="button" (click)="createChequeBook(chequeBook)">Submit</button>
    </div> 
    
    
    </div>
    </div>
    </div>
    
   
    
            
    
    
    
    
    
    

