<div class="main-content">
    <div class="section-content section-content-p30">
    <div class="container-fluid">
    <div class="container table"  >
       
        <table class="table bg-light">
       
                <tr>
                    <th> Id</th>
                    <th> AccountNumber</th>
                    <th>AccountBalance</th>
                    
                </tr>
          
            
                <tr >
                    <th>{{savingAccount.id}}</th>
                    <td>{{savingAccount.accountNumber}}</td>
                    <td>{{savingAccount.accountBalance}}</td>
                    
                   
                  
                </tr>
           
        </table>
    </div>
    </div>
    </div>
    </div>
    
    
      
    
    
    
    

